:root{
    --ice: #b0f7fa;
    --pale: #71C8FF;
    --sky: #00ddff;
    --aqua: #0093ee;
    --navi: #0176be;
    --lime: #00ffc8;
    --moss: #02aa69;
}

.text-white{
  color: white;
}
.text-black{
  color: black;
}
.fs-sr{
  font-size: smaller;
}
.fs-s{
  font-size: small;
}
.fs-m{
  font-size: medium;
}
.fs-l{
  font-size: large;
}
.fs-lr{
  font-size: larger;
}
.bg-ice{
  background-color: var(--ice);
}
.bg-pale{
  background-color: var(--pale);
}
.bg-sky{
  background-color: var(--sky);
}
.bg-aqua{
  background-color: var(--aqua);
}
.bg-navi{
  background-color: var(--navi);
}
.bg-lime{
  background-color: var(--lime);
}
.bg-moss{
    background-color: var(--moss);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--ice);
}

header {
    display: flex;
    background-color: var(--aqua);
    width: 100%;
    height: 6vh;
    justify-content: center;
  align-items: center;
    
 }
 header h1 {
    color: var(--sky);
 }
 nav {
    display: flex;
    background-color: var(--pale);
    width: 100%;
    height: 6vh;
 }
 nav a {
    display: flex;
    color: var(--navi);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
  }
  nav a:hover{
    background-color: var(--lime);
    color: var(--moss);
  }
  nav a:active{
    background-color: var(--lime);
    color: var(--moss);
  }
  
/* start page */

  .start-intro{
    display: flex;
    justify-content: center;
    height: 44vh;
  }
  .start-intro img{
    width: 400px;
    height: 400px;
    flex-shrink: 1;
    border-radius: 50%;
    margin: 25px 50px;
    object-fit: cover;
  }
  .start-intro p{
    align-self: center;
    font-size: large;
    width: 200px;
    margin: 25px 50px;
    font-size: 20px;
  }

  .start-botton-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
  }
  .start-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: 0px 2.5%;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--aqua);
    border-color: var(--navi);
    color: var(--sky);
  }
  .start-button p{
    font-size: x-large;
    font-weight: bold;
  }
  .start-button i{
    font-size: 90px;
    margin: 25px 0px;
  }

  .start-button:hover{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);

  }
  .start-button:active{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);

  }

/* cv page */

  .cv-container{
    display: flex;
    width: 100%;
    min-height: 88vh
  }
  .cv-profile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    padding: 50px 7% 0px;
    align-items: center;
  }
  .cv-profile img{
    width: 400px;
    height: 400px;
    flex-shrink: 1;
    border-radius: 50%;
  }
  .cv-profile-pitch{
    background-color: var(--navi);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10% 0px;
    font-size: 20px;
  }
  .cv-profile-pitch p{
    margin: 0;
  }

  .cv-profile button{
    align-self: start;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--aqua);
    border-color: var(--navi);
    color: white;
    padding: 10px;
  }
  .cv-profile button h3{
    margin: 0px;
  }
  .cv-profile button:hover{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);
  }
  .cv-profile button:active{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);
  }
  
  
  .cv-career{
    background-color: var(--navi);
    flex-grow: 1;
    width: 50%;
    padding-left: 25px;
    color: white;
    font-size: 20px;
  }
  .cv-career h3{
    margin-bottom: 0;
    color: var(--sky);
  }
  .cv-career hr{
    color: var(--sky);
  }
  
  
  /* interesses page */
  
  .interesses-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6vh 4vw;
    min-height: 44vh;
    gap: 2vh;
    flex-direction: row;
  }
  @media (max-width: 800px) {
    .interesses-container {
      flex-direction: column;
    }
  }
  .interesses-container div{
    max-width: 60%;
  }
  .text-right{
    text-align: end;
  }
  
  .interesses-container img{
    max-height: 80%;
    min-width: 20%;
    object-fit: cover;
  }

.interesses-table {
  margin: 1em;
  border: solid 5px var(--navi);
  border-collapse: collapse;
}

.interesses-table td {
    border: solid 5px var(--navi);
    padding:  5px;
    background-color: var(--pale);
    color: white;
}

.interesses-table th {
    border: solid 5px var(--navi);
    padding:  5px;
    background-color: var(--sky);
    color: white;
  }
  .interesses-table caption {
    padding: 10px;
    caption-side: bottom;
    color: white;
}
  
  /* Ervaring page */
  
  main{
    margin: 6vh 10vw;
  }
  
  .ervaring-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vh;
  }
  .ervaring-container img{
    max-width: 50%;
    object-fit: contain;
  }
  .ervaring-container p{
  }
  .ervaring-images{
    min-width: 30%;
    margin: 18px 18px 18px 0px;
  }
  .ervaring-images img{
    max-width: 100%;
    width: 100%;
    margin: 0.5vh 0vh;
  }
  
  /* Contact page */
  
  .contact-container{
    display: flex;
    width: 80%;
    height: 60vh;
    background-color: var(--navi);
    margin: 20vh 10% auto auto;
  }
  .contact-profile{
    width: 50%;
    padding: 2vh 1vw;
    text-align: center;
    
  }
  .contact-profile h3{
    margin-top: 5px;
    
  }
  .contact-profile a{
    color: white;
    
  }
  .contact-form{
    width: 50%;
    padding: 2vh 1vw;
  }
  .contact-form form{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5%;
  }
  .contact-form-pair{
    display: flex;
    flex-direction: column;
  }

  .contact-form-textarea{
    min-height: 20%;
    max-height: 100%;
  }
  .contact-form-textarea textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
  
  .contact-submit-button{
    align-self: start;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    background-color: var(--pale);
    border-color: var(--aqua);
    color: var(--navi);
    padding: 10px;
    margin-top: 3px;
    font-size: medium;
    font-weight: bold;
  }
  .contact-submit-button:hover{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);
  }
  .contact-submit-button:active{
    background-color: var(--lime);
    border-color: var(--moss);
    color: var(--moss);
  }
  
  